.layoutContainer {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #650f0f;
  color: var(--white);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

.sidebarLogo {
  width: 150px;
  height: auto;
  margin: 0 auto 2rem auto;
  object-fit: contain;
}

.navList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}

.navItem a {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  color: var(--gray-light);
  text-decoration: none;
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 0.5rem;
  transition: background-color 0.2s, color 0.2s;
  font-weight: 500;
}

.navItem a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--white);
}

.navItem a.active {
  background-color: rgba(255, 0, 0, 0.1);
  color: var(--white);
  font-weight: 700;
  border-left: 4px solid var(--primary-color);
  padding-left: calc(1rem - 4px);
}

.logoutButton {
  background-color: transparent;
  color: var(--gray-light);
  border: 1px solid var(--gray-medium);
  padding: 0.8rem;
  border-radius: 8px;
  cursor: pointer;
  font-family: var(--font-primary);
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.logoutButton:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--white);
}

.content {
  flex-grow: 1;
  background-color: var(--background-light);
  overflow-y: auto;
}