.container {
  width: 100vw;
  height: 100vh;
  background-color: var(--white);
  position: relative;
  overflow: hidden;
}

.logo {
  width: 150px;
  height: 150px;
  object-fit: contain;
  margin-bottom: 1rem;
}

.formContainer {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.signInContainer {
  left: 0;
  width: 50%;
  z-index: 2;
}

.signUpContainer {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.overlayContainer {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.overlay {
  background: var(--primary-color);
  background: linear-gradient(to right, var(--dark-red), var(--primary-color));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: var(--white);
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlayPanel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlayLeft {
  transform: translateX(-20%);
}

.overlayRight {
  right: 0;
  transform: translateX(0);
}

.rightPanelActive .signInContainer {
  transform: translateX(100%);
}

.rightPanelActive .overlayContainer {
  transform: translateX(-100%);
}

.rightPanelActive .signUpContainer {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%, 49.99% {
    opacity: 0;
    z-index: 1;
  }
  
  50%, 100% {
    opacity: 1;
    z-index: 5;
  }
}

.rightPanelActive .overlay {
  transform: translateX(50%);
}

.rightPanelActive .overlayLeft {
  transform: translateX(0);
}

.rightPanelActive .overlayRight {
  transform: translateX(20%);
}

.formContainer form {
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.formContainer h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-weight: 800;
}

.formContainer input {
  background-color: var(--gray-light);
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  margin: 8px 0;
  width: 100%;
  max-width: 340px;
}

.formContainer a {
  color: var(--gray-dark);
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

.formContainer button {
  border-radius: 20px;
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  color: var(--white);
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
  margin-top: 10px;
}

.formContainer button:active {
  transform: scale(0.95);
}

.ghost {
  background-color: transparent;
  border-color: var(--white);
  color: var(--white);
}