.produtosContainer {
  padding: 2rem 3rem;
  width: 100%;
  height: 100%;
  background-color: var(--background-light);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.header h1 {
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--gray-dark);
}

.addButton {
  background-color: var(--primary-color);
  color: var(--white);
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  cursor: pointer;
  font-family: var(--font-primary);
  font-weight: bold;
  font-size: 1rem;
  transition: background-color 0.2s;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.addButton:hover {
  background-color: var(--dark-red);
}

.tableContainer {
  background-color: var(--white);
  border-radius: 10px;
  padding: 1.5rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  border: 1px solid var(--gray-light);
}

.productsTable {
  width: 100%;
  border-collapse: collapse;
}

.productsTable th, .productsTable td {
  padding: 1rem 1.5rem;
  text-align: left;
  border-bottom: 1px solid var(--gray-light);
  vertical-align: middle;
}

.productsTable th {
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #777;
}

.productsTable tbody tr:hover {
  background-color: #fcfcfc;
}

.textRight {
  text-align: right;
}

.actions {
  display: flex;
  gap: 0.5rem;
}

.iconButton {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 50%;
  transition: background-color 0.2s;
}

.iconButton:hover {
  background-color: var(--gray-light);
}

.editButton {
  color: var(--primary-color);
}

.deleteButton {
  color: var(--error-color);
}

modalContent {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.modalContent h2 {
  margin-bottom: 0.5rem;
  color: var(--gray-dark);
  text-align: center;
}

.formGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.2rem;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.fullWidth {
  grid-column: 1 / -1;
}

.formGroup label {
  font-weight: 600;
  font-size: 0.9rem;
  color: var(--gray-dark);
}

.formGroup input,
.formGroup select {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid var(--gray-medium);
  border-radius: 8px;
  font-family: var(--font-primary);
  font-size: 1rem;
}

.modalActions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1.5rem;
}

.modalActions button {
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: transform 0.1s ease;
}

.modalActions button:active {
    transform: scale(0.98);
}

.saveButton {
  background-color: var(--primary-color);
  color: var(--white);
}

.cancelButton {
  background-color: var(--gray-light);
  color: var(--gray-dark);
}